<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <LayoutView>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    [Inject]
    private IJSRuntime JsRuntime { get; set; }
    
    public async Task InvokeCommunication()
    {
        var jsInteropCommunication = new JsInteropCommunication(JsRuntime);
        await jsInteropCommunication.Prompt("Test123");
    }
}
